{% extends 'chat/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Web Chat{% endblock %}

{% block content %}

    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <p>{{ user_name }}</p>

    <script>
        let roomName = '{{ room_name }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    <script src="{% static 'app.js' %}"></script>
{% endblock %}